.container .section.section-main {
  .fp-bg {
    background-image: url(../img/main/bg1.jpg);
  }
  .video {
    position: absolute;
    top: -100%;
    left: -100%;
    right: -100%;
    bottom: -100%;
    margin: auto;
    width: 100%;
    height: auto;
  }
}
