{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true // webpack 설정 파일등
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],

  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-unused-vars": "off",
    "semi": "error",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-var-requires": "off",
    "prefer-const": "off",
    "quotes": ["error", "single"]
  }
}
