<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    </head>
    <body>
        <header></header>
        <main class="page-purchase">
            <div class="tab-purchase-wrap">
                <div class="tab-purchase tab-purchase-order tab-active" data-cont = "cont-purchase-order">구매하기</div>
                <div class="tab-purchase tab-purchase-history" data-cont = "cont-purchase-history">구매내역</div>
            </div>
            <div class="cont-purchase cont-purchase-order cont-active">
                <div class="purchase-order-list-wrap">
                    <ul class="purchase-order-list">
                        <li class="purchase-order-item purchase-order-item-adv">
                            <div class="purchase-order-item-left">
                                <img src="<%= require('../img/nft1.png') %>" alt="">
                            </div>
                            <div class="purchase-order-item-right">
                                <p class="purchase-order-item-tit">게시판 혈맹 광고</p>
                                <p class="purchase-order-item-desc">혈맹 광고 안내 문구 자리입니다. </p>
                                <p class="purchase-order-item-info">8 CT (1 Day)</p>
                            </div>

                        </li>
                        <li class="purchase-order-item purchase-order-item-nft">
                            <div class="purchase-order-item-left">
                                <img src="<%= require('../img/nft2.png') %>" alt="">
                            </div>
                            <div class="purchase-order-item-right">
                                <p class="purchase-order-item-tit">프로필 NFT 설정하기</p>
                                <p class="purchase-order-item-desc">2022년 하반기에 만나요.</p>
                                <p class="purchase-order-item-info">Coming soon</p>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="cont-purchase cont-purchase-history">
                <div class="purchase-order-history-wrap">
                    <ul class="purchase-history-list">
                        <li class="purchase-history-item">
                            <div class="purchase-history-item-top">
                                <div class="purchase-history-item-date">2022. 03. 09. 구매</div>
                                <div class="purchase-history-item-remain">남은 시간 24:08:34</div>
                            </div>
                            <div class="purchase-history-item-bottom">
                                <div class="purchase-history-item-left">
                                    <img src="<%= require('../img/nft1.png') %>" alt="">
                                </div>
                                <div class="purchase-history-item-right">
                                    <p class="purchase-history-item-tit">게시판 혈맹 광고</p>
                                    <p class="purchase-history-item-info">구매금액 : 24 CT </p>
                                </div>
                            </div>
                        </li>
                        <li class="purchase-history-item">
                            <div class="purchase-history-item-top">
                                <div class="purchase-history-item-date">2022. 02. 13. 구매</div>
                                <div class="purchase-history-item-remain">사용 완료</div>
                            </div>
                            <div class="purchase-history-item-bottom">
                                <div class="purchase-history-item-left">
                                    <img src="<%= require('../img/nft1.png') %>" alt="">
                                </div>
                                <div class="purchase-history-item-right">
                                    <p class="purchase-history-item-tit">게시판 혈맹 광고</p>
                                    <p class="purchase-history-item-info">구매금액 : 24 CT </p>
                                </div>
                            </div>
                        </li>
                        <li class="purchase-history-item">
                            <div class="purchase-history-item-top">
                                <div class="purchase-history-item-date">2022. 02. 13. 구매</div>
                                <div class="purchase-history-item-remain">사용 완료</div>
                            </div>
                            <div class="purchase-history-item-bottom">
                                <div class="purchase-history-item-left">
                                    <img src="<%= require('../img/nft1.png') %>" alt="">
                                </div>
                                <div class="purchase-history-item-right">
                                    <p class="purchase-history-item-tit">게시판 혈맹 광고</p>
                                    <p class="purchase-history-item-info">구매금액 : 24 CT </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


            </div>

        </main>
    </body>

    <script>

    </script>
</html>
